*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Overpass, "Candara Light";
  color: #eaeaea;
  background-color: #434343;
}

textarea {
  font-family: Overpass, "Candara Light";
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

[type=color]::-webkit-color-swatch, [type=color]::-moz-color-swatch {
  border-radius: 50%;
}

.canvas-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.canvas-background {
  background-image: url(https://img.freepik.com/premium-psd/transparent-background-checkered-wallpaper-photoshop-psd-4k-transparent-empty-grid-layout_691560-11.jpg?w=2000);
  background-size: cover;
  background-attachment: fixed;
}

#layers {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: crosshair;
  opacity: 1;
}

.layer-button {
  width: 95%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}

.selected, .selected:hover, .layer-button.selected:hover {
  background-color: #ff9e9eb5;
  transition: background-color 1s ease;
}
/*
.layer-button, .tool {
  background: radial-gradient(circle, rgba(255,255,255,0.23) 0%, rgba(255,255,255,0.1) 56%, rgba(255,255,255,0) 100%);
}
*/
.layer-button:hover, .tool:hover, .tool:focus{
  background: radial-gradient(circle, rgba(255,255,255,0.41) 0%, rgba(255,255,255,0.23) 56%, rgba(255,255,255,0) 100%);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

input {
  margin: 0.4rem;
}

.section {
  padding: 5px;
  border-color: transparent;
}

h3{
  margin-top: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.close-button {
  background-color: transparent;
  float: right;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 10px;
}

.nav{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  /*background-image: url(design/background.png);*/
  background: #0000008a;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
}

.shortcuts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5px;
  align-items: center;
  margin: 5px;
  justify-items: center;
}

.shortcuts p {
  margin: 0;
}

.key {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.key p {
  border: 1px solid pink;
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 3px pink;
}

.floating-bar {
  height: 50%;
  position: fixed;
  max-width: 400px;
  z-index: 999;
  top: 50px;
  right: 50px;
  border-radius: 25px;
  background: #0000008a;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  padding: 20px;

  transition: height cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.floating-bar p {
  overflow-wrap: break-word;
}

#layer-list{
  display: flex;
  flex-direction: column;
  /*flex-direction: column-reverse;*/
}

.layer-thumbnail {
  border: 1px solid lightgray;
  max-width: 30%;
  max-height: 100%;
  display: block;
}

.layer-title {
  max-height: 100%;
  max-width: 100%;
  outline: none;
  border: none;
  resize: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 3px;
  font-family: Overpass;
  font-weight: 600;
}

.layer-button * {
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: space-between;
}

.left {
  justify-content: flex-start;
  height: 50px;
  width: 200px;
}

.right {
  justify-content: flex-end;
}

.undoredo{
  background-color: #000000;
  border-radius: 50%;
}

#tools-properties {

}

.settings{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-image: url(design/background.png);
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.3s;
  display: inline-flexbox;
}

.menuButton{
  position:fixed;
  z-index: 5;
  top: 0;
  left: 0;
  padding-top: 0px;
  transition: duration 0ms;
  background-color: rgba(0,0,0,0);
}

.icon{
  height: 30px;
  width: 30px;
}

#layers-icon, .delete-button{
  filter: invert();
  float: right;
  width: 20px;
  height: 20px;
}

button{
  border: none;
  outline: none;
  margin: 5px;
  background-color: #ffffff;
  color: #fff;
  border-radius: 10%;
  padding: 8px 8px 8px 8px;
  transition: 0.3s;
}

h4{
  margin-top: 10px;
  margin-left: 10px;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.colors-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.userColor{
  margin-top: 30px;
  height: 40px;
  width: 40px;
}

.settings_container{
  margin: 10px;
  display: list-item;
}

.settings_button{
  background-color: #000000;
  border-radius: 50%;
}

.settings .close_settings{
  top: 0;
  right: 0;
  margin: 50px;
}

button:hover{
  transition-delay: 0.1s;
  transform: scale(1.2);
}

/* Palette colors */

.palette{
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  margin: 5px;
  /*transition: 0.3s;*/
  border: 2px rgba(255, 255, 255, 0) solid;
}

.palette:hover{
  /*transform: scale(1.1);*/
  border: 2px white solid;
}

.palette-cell-container{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border-radius: 5px;
  background-color: #0d0d0d79;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #f5bfbf;
  cursor: pointer;
}

#tools-section {

}

.tool-properties-container.selected-tool-property {
  display: flex;
  flex-direction: column;
}

.tool-properties-container {
  margin: 40px 10px;
  display: none;
  /* grid-template-columns: 1fr 1fr; */
  border-bottom: 1px solid grey;
}

.slider-field {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

#tools-container{
  background-color: rgba(75, 75, 75, 0.598);
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  transition: height 0.5s;
}

.selected-tool, .selected-tool.tool:hover{
  background-color: #ff9e9eb5;
}

.folded {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;

  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: height, width, background, font-size;
}

#layer-bar {
  height: 500px;
  width: 330px;
}

#layer-bar.folded {
  width: 20px;
  height: 20px;
}

#layer-bar.folded * {
  display: none;
}

#layer-bar.folded #layers-icon {
  display: block;
}

.folded #tools-container {
  visibility: hidden;
  height: 0px;
}

.folded #showBrushes{
  transform: rotate(180deg);
}

.closed.nav {
  width: 0px;
}

.tool {
  width: 90%;
  height: auto;
  border-bottom: #cacaca 1px solid;
  position:sticky;
  margin: 0px;
  padding: 5px;
  position: relative;
}

.tool-body {
  padding: 5px;
  width: max-content;
}

.tool-additional {
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  z-index: 10;
}

#save-to-db{
  width: 100px;
  padding: 10px;
  background-color: yellowgreen;
}

#save-to-db:hover{
  transform: scale(1.1);
}

#showBrushes img{
  transform: rotate(90deg);
}

p:hover{
  cursor: default;
}

.tool *{
  display: inline-block;
  vertical-align: middle;
}

.tool:last-of-type{
  border: none;
}

#paletteBar button{
  height: auto;
  width: auto;
}

#add_to_palette img{
  height: 10px;
  width: 10px;
}

#myFile{
  height: 50px;
  width: 100px;
  position: relative;
  border: 1px #cacaca solid;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backdrop {
  visibility: hidden;
  position: fixed;
  z-index: 999;
  background-color: #000000b0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.option-window {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  background-color: white;
  padding: 50px;
  color: black;
  border-radius: 20px;
  transition: visibility 0.5s linear;
  animation: appear 1s forwards;
}

.size-input {
  margin: 0.4rem;
  border: none;
  font-size: 24pt;
  max-width: fit-content;
  outline: none;
  border-bottom: 1px solid grey;
}

.option-window h1 {
  margin-bottom: 20px;
  font-size: 48pt;
}

#startCanvas {
  background-color: #000000;
  color: white;
  font-size: 24pt;
  width: 100%;
  border: none;
  border-radius: 0%;
  margin-top: 20px;

  transition: background 1s ease-out;
}

#startCanvas:hover {
  background: linear-gradient(127deg, rgba(0,0,255,.8), rgba(255,0,0,.5) 70.71%);
  transform: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #00000015;
}

::-webkit-scrollbar-thumb {
  background: #ffffff71;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff9a;
}

::-webkit-scrollbar-corner {
  display: none;
}